@font-face {
  font-family: 'Exo-Medium';
  src: url('../fonts/Exo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Regular';
  src: url('../fonts/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Regular-Italic';
  src: url('../fonts/Exo-Regular-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Thin';
  src: url('../fonts/Exo-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}