.awesome2 {
  padding-top: 106px;
  text-align: center;
  h2 {
  font-size: 40px;
  color: #282828;
  }
}

.awesome2__new {
  color: #ff6d6d;
  margin: 0;
}

.awesome2__text {
  max-width: 655px;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 108px;
}

.awesome2__img {
  display: block;
  margin: 0 auto;
}