.awesome {
  background-color: #f6f5f3;
  padding: 140px 0 185px;
  position: relative;
  h2 {
    text-align: center;
    font-size: 40px;
    color: #282828;
    margin: 20px 0 90px;
  }
}

.awesome__new {
  text-align: center;
  font-size: 16px;
  color: #ff6d6d;
}

.awesome__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  @media (min-width: 475px) {
    flex-direction: row;
    justify-content: space-around;
  }
  article {
    width: 286px;
    text-align: center;
    line-height: 26px;
  }
}

.awesome__pens {
  width: 291px;
  height: 329px;
  background: url("../img/pen.png") no-repeat;
  position: absolute;
  top: -40px;
}

.awesome__headphones {
  width: 291px;
  height: 329px;
  background: url("../img/headphones.png") no-repeat;
  position: absolute;
  top: -4px;
  right: 0;
}

.awesome__glass {
  width: 291px;
  height: 329px;
  background: url("../img/glass.png") no-repeat;
  position: absolute;
  bottom: -205px;
  right: 0;
}