.platforms {
  min-height: 722px;
  display: flex;
}

.platforms__text {
  margin: 75px auto;
  width: 60%;
  text-align: center;
  position: relative;
  background-color: #fff;
  z-index: 100;
  h2 {
    font-size: 40px;
    color: #282828;
    span {
      color: #ff6d6d;
    }
  }
  @media (min-width: 556px) {
    width: 60%;
    margin: 0;
    padding: 190px 150px;
    text-align: left;
  }
}

.platforms__block {
  @media (min-width: 556px) {
    z-index: 100;
    width: 40%;
    background: url("../img/triangle.jpg") no-repeat;
    background-size: cover;
  }
}

.platforms__new {
  font-size: 16px;
  color: #ff6d6d;
}

.platforms__par {
  font-size: 16px;
  color: #282828;
  line-height: 26px;
}
