.resposive-design {
  background: url("../img/bg3.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 93px 20px 105px;
  z-index: 100;
  position: relative;
}

.resposive-design__text {
  width: 500px;
  @media (min-width: 625px) {
    margin-left: 70px;
  }
  h2 {
    font-size: 40px;
    color: #282828;
    span {
      color: #ff6d6d;
    }
  }
}

.resposive-design__new {
  font-size: 16px;
  color: #ff6d6d;
}

.resposive-design__paragraph {
  font-size: 16px;
  color: #282828;
  line-height: 26px;
}

.resposive-design__image {
  display: none;
  @media (min-width: 625px) {
    display: block;
    margin-right: 70px;
  }
}